<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">


<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
		type="text/css" />

	<title>Votre Formation</title>
</head>

<body>
		<div layout:fragment="contents">
		<div class="row mt-2 ml-1 mr-1">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="card  border-info">
					<div class="card-header badge badge-info text-wrap">
						<h6>Liste des formateurs</h6>
					</div>
					<div class="card-body">
						<div class="alert alert-danger" role="alert" th:text="${errorMessage}"
							th:if="*{errorMessage!=null and #strings.length(errorMessage)>0}"></div>

						<div class="row">
							<div class="col-6">
							</div>
							<div class="col-6">
								<div class="text-right">
									<a class="btn btn-sm btn-success center" th:href="@{/ajouterformateur}">
										<i class="fas fa-plus-circle"></i> Ajouter Formateur</a></div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="table-responsive">
								<table class="table table-striped  table-borderless">
									<tr>
										<th>#</th>
										<th>Nom</th>
										<th>Prénom</th>
										<th></th>
										<th></th>
									</tr>
									<tr th:each="c:${listeFormateurs}">
										<td width="2%" th:text="${c.id}"></td>
										<td width="50%" th:text="${c.nom}"></td>
										<td th:text="${c.prenom}"></td>
										<td width="5%">
											<a class="btn btn-sm btn-primary" th:href="@{/modifierformateur(id=${c.id})}">
											<i class="fas fa-edit"></i>
											</a>
										</td>
										<td width="5%"><a class="btn btn-sm btn-danger"
										onclick="return confirm('Etes-vous sûr de vouloir supprimer ce formateur?');"
											th:href="@{/supprimerformateur(id=${c.id})}">
										<i class="fas fa-trash-alt"></i>
										</a></td>
									</tr>
								</table>
								<nav aria-label="Page navigation">
									<ul class="pagination">
										<li  th:each="C:${taillePagination}" th:class="${C==activePage} ? 'page-item active':'page-item'" >
									<a class="page-link"
												th:href="@{/formateurs(page=${C}, size=${size})}" th:text="${C+1}"> </a>
										</li>
									</ul>
								</nav>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2"></div>
		</div>

	</div>





	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>

	<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>